.sub-icon {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 4px;
    width: 15px;
    height: 5px;
    border: 1px solid #313774;
    border-top: none;
    border-right: none;
}

.treeview-menu {
    padding-left: 20px!important;
}

.treeview {
    cursor: pointer;
}
